.formato_ubicacion{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "mapa descripcion";
    align-items: center;
    justify-content: space-between;
}
div {
    grid-area: mapa;
}
aside{
    grid-area: descripcion;
}
.parrafo_ubicación{
    margin-left: 10px;
    font-size: 1.30rem;
}

.contenedor_formulario{
    max-width: 70%;
}