.footer {
    display: inline-block;
    margin-top: 10%;
    
    p {
        display: inline-block;
        font-size: 1rem;  }
}
.isologo {
    display: inline-block;
    width: 10%;
    height: 10%;
}