html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: rgb(214, 201, 158);
    color:rgb(46, 42, 37) ;
    font-family: Arial, Helvetica, sans-serif!important;
   }
h1 {
  
    font-size: 2rem !important;
}

h2 {
    font-size: 1.80rem;
}