.color_fuente {
    color: rgb(46, 42, 37);
}
.parrafo_nosotros {
    top: 30%;
    bottom: 70%;
    left: 42%;
    width: 40%;
    height: 40%;
    font-size: 1.30rem;
     
}

.box_mod_fotos{
    display: inline-block;
    margin: 1%;
    width: 70%;
    height: 70%;
}