body {
    background-color: rgb(214, 201, 158);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.80rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 42, 37);
    border: solid 2px black;
    width: 100vw;
    height: 10%;
    position: sticky;
    top: 5px;
    z-index: 2;
}

.logo{
width: 25%;
height: 85%;
}
.formato_div_nav{ 
    display: flex;
    flex-flow: wrap row;
    justify-content: end;

}
nav ul li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: solid 1px rgb(214, 201, 158);
    list-style-type: none;  
}

ul li a {
    color:rgb(214, 201, 158);
    text-decoration: none
}

/* Section nosotros */


.color_fuente {
    color: rgb(46, 42, 37);
}
.parrafo_nosotros {
    position: absolute;
    top: 30%;
    bottom: 70%;
    left: 42%;
    width: 40%;
    height: 40%;
    font-size: 1.30rem;
     
}

.box_mod_fotos{
    display: inline-block;
    margin: 1%;
    width: 30%;
    height: 30%;
}

/* Section Alojamiento y Coworking*/
.color_background_alojamiento {
    background-color: #8eb2ac;
    color: rgb(46, 42, 37);
    width: 100vw;
    margin: 0vws;
}
/*.secciones{
    margin: 5% 0%;
}*/

.lista {
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    font-size: 1.30rem;
}

.lista_li{
    margin: 5px;
}

.carrusel_fotos{
    display: flex;
    flex-direction: row;
    }
.carrusel_fotos_formato{
    margin: 10px;
    width: 50vw;
    height: 50vh;
}

/* Section Contacto y Ubicación*/
.formato_ubicacion{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "mapa descripcion";
    align-items: center;
    justify-content: space-between;
}
div {
    grid-area: mapa;
}
aside{
    grid-area: descripcion;
}

.parrafo_ubicación{
    margin-left: 10px;
    font-size: 1.30rem;
}
.foto_campana{
    width: 100%;
    height: 100%;
}
.formato_contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "foto_campana formulario";
    column-gap: 5%;
    align-items: center;
    justify-content: space-between;
   
}

div#foto_campana{
    grid-area: foto_campana;
}

div#formulario {
    grid-area: formulario;

}

.formato_formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1%;
}
.formato_formulario input {
    color: rgb(46, 42, 37);
    width: 70%;
    margin-bottom: 2%;
    border: rgb(46, 42, 37) 1px solid;
    border-radius: 10px ;
    padding: 3px;
}

textarea {
    width: 70%;
    border: rgb(46, 42, 37) 1px solid;
    border-radius: 10px ;
}

/* Footer */

.footer {
    display: inline-block;
    margin-top: 10%;
}
.isologo {
    display: inline-block;
    width: 10%;
    height: 10%;
}
footer p {
    display: inline-block;
    font-size: 1rem;
   
}
@media screen and (max-width: 1069px) {
    
    .header img {
        width: 150px;
        height: 100px;
    }
    .header ul {
        display: flex;
        flex-direction: row;
       font-size: 10px;
        width: 10%;
        height: 10%;
    }
    
    iframe {
        width: 70%;
        height: 70%;
    }
    h1, h2 {
        font-size: 1rem;
    }
    .parrafo_ubicación{
        font-size: 0.80rem;
    }
    .foto_campana{
        height: 50vh;
        width: 100%;
    }
} 
@media screen and (max-width: 543px) {
    .header{
        position: static;
    }
    .header img {
        width: 100%;
        height: 1000%;
    }
    .header nav ul{
        display: block;
    }
    iframe{
        width: 100%;
    }
    .formato_ubicacion{
        grid-template-rows: repeat(2, auto);
        grid-template-areas:  "descripcion"
                                "mapa"
    }
    
    .formato_contacto{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "foto_campana"
                              "formulario" ; 
       }
    div form {
        align-items: center;   
    }
    #formulario{
        width: 100vw;
    }
}
    
